alias cpv="rsync -avhP"
alias dpsa="docker ps -a --format 'table {{.Image}}\t{{.Names}}\t{{.Status}}\t{{.Ports}}'"
alias dotfiles='/usr/bin/git --git-dir=/home/hannes/.dotfiles --work-tree=/home/hannes'

alias dig='echo "You want to use drill instead"'
alias nslookup='echo "You want to use drill instead"'
alias gcd='git checkout dev'
alias gci='g ci'
alias glg='g lg'
alias grmb='git branch -vv | grep ": gone]"|  grep -v "\*" | awk "{ print $1; }" | xargs -r git branch -d'
alias shutup='sudo shutdown now'
alias sudo='sudo '
alias k='kubectl '
