[alias]
        a = add
        ap = app -p
        ac = !git add . && git commit -am
        
	s = status -s -b
	ss = status
	
	d = diff
	ds = diff --staged
	dstat = diff --stat --staged
	
	co = checkout
	
	ci = commit -m
	c = commit -v
	pom = push origin master
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --pretty=format:%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short
	lg = !git lg1
[user]
	email = git@hsht.de
	name = Hannes Hilbert
	signingkey = 425DD8018B6B6BB7859DF6223DA0F3AD6F604D5E
[init]
	defaultBranch = main

[include]
    path = ~/Documents/idata/.gitconfig

#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

[url "https://github.com/rust-lang/crates.io-index"]
        insteadOf = https://github.com/rust-lang/crates.io-index
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
